<p>adduser</p>
<form (ngSubmit)="add()">
    <div class="form-group">
      <label for="exampleInputEmail1">userid</label>
      <input type="text" class="form-control" id="user_id" aria-describedby="emailHelp" [(ngModel)]="user.user_id"  [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">user_name</label>
      <input type="text" class="form-control" id="user_name"  [(ngModel)]="user.user_name"  [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">user_city</label>
        <input type="text" class="form-control" id="user_city" [(ngModel)]="user.user_city"   [ngModelOptions]="{standalone: true}">
      </div>
    <button type="submit" class="btn btn-primary"  >Submit</button>
  </form>