
<table class="table table-striped">
    <thead>
        <th>userid</th>
        <th>username</th>
        <th>usercity</th>
        
    </thead>
    <tbody>
        <tr >
        <td>{{user.user_id}}</td>
        <td>{{user.user_name}}</td>
        <td>{{user.user_city}}</td>
    </tr>
    <thead>
        <th>userid</th>
        <th>username</th>
        <th>usercity</th>
        
    </thead>
    <tbody>
        <tr >
        <td>{{arr[0]}}</td>
        
    </tr>
    <tr><td>{{arr[1]}}</td></tr>
    </tbody>
</table>